certifi
charset-normalizer
filelock
idna
PySocks
six
urllib3
scikit-image
torch>=1.13.0
torchvision>=0.14.0
waitress
tqdm
requests
scipy
pymatting
filetype
hsh
more_itertools
moviepy>=1.0.3
Pillow
pillow-heif
ffmpeg-python
flask
numpy==1.26.4
# llvmlite~=0.48.0
# pywavelets~=1.9.0
# numba~=0.66.0
